table{
    margin-top: 20px;
}

h1{
    text-align: center; 
    font-size: 70px; 
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 0px;
}

h2{
    text-align: center;
    font-size: 40px;
    margin: auto;
    color: rgb(0, 0, 0);
    padding: 0px;
}

body{
    margin: 0px;
    
}

.dividacabeca{
    display: block;
    background-image: linear-gradient(to bottom, #c3c1cc, rgb(73, 73, 73));
    margin: 0px, 0px;
}

.menu ul li a{
    display: block;
    border-color: rgb(0, 0, 0);
    border-radius: 3px;
    border-width: 2px;
    border-style: solid;
    padding: 5px, 5px;
    color: rgb(255, 255, 255);
}

.menu ul li {
    display: inline-block;
}

.botao{
    position:relative;
    padding: 1px 5px;
    text-decoration: none;
}

.botao:hover{
    top:-2px;box-shadow:0 2px 2px #666;
}

.menu a:hover{
    text-decoration: none;
    padding-top: 1px, 1px;
       background-color: rgb(155, 155, 155);
}

.botaoAlter{
    background-color: rgb(182, 182, 182);
    margin: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    padding: 1px;
}

.botaoDelete{
    background-color: rgb(182, 182, 182);
    margin: 3px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius: 3px;
    padding: 1px;
}

.botaoDelete:hover{
    font-size: 16.2px;
    background-color: rgb(138, 138, 138);
}

.botaoAlter:hover{
    font-size: 16.2px;
    background-color: rgb(199, 199, 199);
}

.delete-btn{
    margin-right: 5px;
}

.acoes{
    width: 120px;
}
